<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SimpleThirdPlatform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEE544251D19130F001BD571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEE5443E1D19130F001BD571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEE544491D19130F001BD571</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
